* {
    margin: 0;
    padding: 0;
}
.couverture{ 
    background-image: url('http://www.dole-benelux.com/extension/doledesign/design/doledesign/images/kochbanane/header.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .titre {
    color: white;
    font-size: 50px;
    position: relative;
    left: 100px;
    top: 250px;
    bottom: 0px
     }
p{
  padding: 100px;
}
h2{
    color:rgb(4, 5, 78);
    font-size: 50px;
}
h3{
  color:black;
}
h4{
  color:white;
}
.box{

  display: inline-block;
 
  text-align: justify;
  
  background-color: lightgrey;
  
  
}
.grey{
 
  width: 45%;
  height:45% ;

}

.dark{

  display: inline-block;
  
  text-align: justify;
  
  background-color:rgb(70, 71, 71);
  width: 45%;
  height:45% ;
}
.dark:hover, .box:hover{
  border: 1px solid black;
  
}
.boxes{
  margin: 50px;
  margin-left: 100px;
}
.article-title{
  position: relative;
  left: 50px;
  top: 50px;
  bottom: 0px;
  font-size: 30px;
}